<mat-stepper orientation="vertical" displayDefaultIndicatorType="false">
  <mat-step>
    <ng-template matStepLabel> <i class="fa fa-circle" style="font-size:24px"></i><span class="myDeg">PGP Full Stack Stack Enggniering</span></ng-template>
    <ng-template matStepContent>
        <p>Sathyabama University Chennai</p>
    </ng-template>
  </mat-step>
    <mat-step>
        <ng-template matStepLabel> <i class="fa fa-circle" style="font-size:24px"></i><span class="myDeg">BACHELOR OF ENG.(B.E)</span></ng-template>
        <ng-template matStepContent>
            <p>Sathyabama University Chennai</p>
        </ng-template>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel><i class="fa fa-circle" style="font-size:24px"></i><span class="myDeg">INTERMEDIATE</span></ng-template>
        <ng-template matStepContent>
            <p>Sri Chataniya Vishakhapatnam</p>
      </ng-template>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel><i class="fa fa-circle" style="font-size:24px"></i><span class="myDeg">MARTRICULATION</span></ng-template>
        <ng-template matStepContent>
            <p>Cambrian Public School</p>
        </ng-template>
    </mat-step>
</mat-stepper>
 
<!-----The images displayed after the click ---->

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img style="width:180px;height:165px;margin-top:0px;" src="../../assets/images/Banner/chataniya1.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body" style="color: black;">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
</div>





  