<div class="myCont">
    <div>
        <h1 class="headTag">About</h1>
    </div>
    <div>
        <mat-card>
            <mat-card-content>
                    I believe that I can grow only by contributing to the growth of the organization,
                    I work for. Therefore I am looking forward to work in an organization of repute, 
                    where I can utilize my knowledge and discharge responsibilities assigned to me in the best 
                    possible manner, thereby resulting in a relationship of mutual growth and also looking for 
                    a challenging role where I can use my capabilities through sincere dedication and hard work 
                    to move up the graph of the organization.
            </mat-card-content>
        </mat-card>
    </div>
    <div class="Img_left_textRightTag">
        <mat-card class="example-card">
          <div class="myImg">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          </div>
        </mat-card>
        <div class="textRight">
            <mat-card-content>
                    <h1>Full-Stack Developer</h1>
                    <p>
                        Hard-working web developer with a flair for creating elegant solutions in the least amount of time. Developed an ecommerce webapp, customer web portal, documentary launch website, and donations webapp for a local charity. Passionate about software architecture and cloud computing.
                    </p>
                <mat-card-footer>
                    <mat-chip-listbox aria-label="Dog selection">
                        <mat-chip>
                            <i matChipAvatar class="fa fa-angle-double-right" style="font-size:18px;color:red"></i>
                            <b>Birthday:</b>22/January/1999
                        </mat-chip>
                        <mat-chip>
                            <i matChipAvatar class="fa fa-angle-double-right" style="font-size:18px;color:red"></i>
                            <b>Age:</b>23
                        </mat-chip>
                        <mat-chip>
                            <i matChipAvatar class="fa fa-angle-double-right" style="font-size:18px;color:red"></i>
                            <b>Website:</b><a href="http://toufiq.in/"><i class="fa fa-plane" style="margin-left:3px;font-size:18px;color:red"></i></a>
                        </mat-chip>
                        <mat-chip>
                            <i matChipAvatar class="fa fa-angle-double-right" style="font-size:18px;color:red"></i>
                            <b>Degree:</b>Bachelor of Engineering
                        </mat-chip>
                        <mat-chip>
                            <i matChipAvatar class="fa fa-angle-double-right" style="font-size:18px;color:red"></i>
                            <b>Phone:</b>9102641144
                        </mat-chip>
                        <mat-chip>
                            <i matChipAvatar class="fa fa-angle-double-right" style="font-size:18px;color:red"></i>
                            <b>Email:</b>2014toufiquealam@gmail.com
                        </mat-chip>
                        <mat-chip>
                            <i matChipAvatar class="fa fa-angle-double-right" style="font-size:18px;color:red"></i>
                            <b>City:</b>Ranchi Jharkhand
                        </mat-chip>
                        <mat-chip>
                            <i matChipAvatar class="fa fa-angle-double-right" style="font-size:18px;color:red"></i>
                            <b>Freelance:</b>Available
                        </mat-chip>
                    </mat-chip-listbox>
                </mat-card-footer>
            </mat-card-content>
        </div> 
    </div>
        
</div>
