
<div class="container bgClr">
    <div class="row">
        <div class="col-sm-6">
            <mat-card>
                <mat-card-content>
                    <mat-card-title class="contactTitle"><b>Contact</b></mat-card-title>
                    <form class="contact-form">
                        <mat-form-field  appearance="fill">
                        <mat-label>Name</mat-label>
                        <input matInput type="text" name="name" required>
                        </mat-form-field>
                    
                        <mat-form-field  appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" name="email" required>
                        </mat-form-field>
                    
                        <mat-form-field  appearance="fill">
                        <mat-label>Subject</mat-label>
                        <input matInput type="text" name="subject" required>
                        </mat-form-field>
                    
                        <mat-form-field  appearance="fill">
                        <mat-label>Message</mat-label>
                        <textarea matInput name="message" required></textarea>
                        </mat-form-field>
                        <button style="margin-top: 0px;" mat-raised-button color="primary" type="submit">Send Message</button>
                    </form>


                </mat-card-content>
            </mat-card>    
        </div>
        <div class="container text-center">
            <div class="row">
              <div class="col">
                <div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d117223.79371965236!2d85.2512858200668!3d23.343189225515676!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f4e104aa5db7dd%3A0xdc09d49d6899f43e!2sRanchi%2C%20Jharkhand!5e0!3m2!1sen!2sin!4v1679244795363!5m2!1sen!2sin" width="1200" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
              </div>
            </div>
        </div>  
    </div>
</div>



   