
<div class="body">
    <div class="container myCont">
        <div class="imgTag">
            <img src="../../assets/images/Banner/chataniya1.jpg" alt="No Images">
        </div>
        <div class="icons"> 
            <div>
                <mat-card-title class="title">Toufique Alam</mat-card-title><br>
                <mat-card-subtitle class="subtitle">I'm a  Full Stack Developer</mat-card-subtitle>
            </div>
        </div>
        <div class="allIcons">
            <div class="icon1">
                <i class="fa fa-instagram" style="font-size:28px;color:whitesmoke"></i>
            </div>
            <div class="icon2">
                <i class="fa fa-facebook" style="font-size:28px;color:whitesmoke"></i>
            </div>
            <div class="icon3">
                <i class="fa fa-linkedin" style="font-size:28px;color:whitesmoke"></i>
            </div>
        </div>
    </div>
</div>