<mat-card>
  <mat-card-header>
    <mat-card-title class="w3-large w3-center w3-padding-16">I'm really good at:</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="skill">
      <mat-icon class="fa fa-camera"></mat-icon>
      <div class="skill-label">HTML</div>
      <mat-progress-bar class="skill-bar" color="accent" mode="determinate" value="90"></mat-progress-bar>
    </div>
    <div class="skill">
      <mat-icon class="fa fa-laptop"></mat-icon>
      <div class="skill-label">CSS</div>
      <mat-progress-bar class="skill-bar" color="accent" mode="determinate" value="90"></mat-progress-bar>
    </div>
    <div class="skill">
      <mat-icon class="fa fa-photo"></mat-icon>
      <div class="skill-label">Java</div>
      <mat-progress-bar class="skill-bar" color="accent" mode="determinate" value="70"></mat-progress-bar>
    </div>
    <div class="skill">
      <mat-icon class="fa fa-photo"></mat-icon>
      <div class="skill-label">Java-Script</div>
      <mat-progress-bar class="skill-bar" color="accent" mode="determinate" value="60"></mat-progress-bar>
    </div>
    <div class="skill">
      <mat-icon class="fa fa-photo"></mat-icon>
      <div class="skill-label">Angular</div>
      <mat-progress-bar class="skill-bar" color="accent" mode="determinate" value="65"></mat-progress-bar>
    </div>
    <div class="skill">
      <mat-icon class="fa fa-photo"></mat-icon>
      <div class="skill-label">Swall.js (Sweet Alert)</div>
      <mat-progress-bar class="skill-bar" color="accent" mode="determinate" value="75"></mat-progress-bar>
    </div>
    <div class="skill">
      <mat-icon class="fa fa-photo"></mat-icon>
      <div class="skill-label">Spring Boot</div>
      <mat-progress-bar class="skill-bar" color="accent" mode="determinate" value="2"></mat-progress-bar>
    </div>
    <div class="skill">
      <mat-icon class="fa fa-photo"></mat-icon>
      <div class="skill-label">Php</div>
      <mat-progress-bar class="skill-bar" color="accent" mode="determinate" value="80"></mat-progress-bar>
    </div>
    <div class="skill">
      <mat-icon class="fa fa-photo"></mat-icon>
      <div class="skill-label">Bootstrap</div>
      <mat-progress-bar class="skill-bar" color="accent" mode="determinate" value="85"></mat-progress-bar>
    </div>
    <div class="skill">
      <mat-icon class="fa fa-photo"></mat-icon>
      <div class="skill-label">Codingniter</div>
      <mat-progress-bar class="skill-bar" color="accent" mode="determinate" value="90"></mat-progress-bar>
    </div>
    <div class="skill">
      <mat-icon class="fa fa-photo"></mat-icon>
      <div class="skill-label">Ajax/Jquery</div>
      <mat-progress-bar class="skill-bar" color="accent" mode="determinate" value="60"></mat-progress-bar>
    </div>
  </mat-card-content>
</mat-card>
