<!-- <h1>Testing</h1> -->
<div class="container-fluid">
    <app-navbar appResponsive></app-navbar>
    <!-- <app-navigation appResponsive></app-navigation> -->
    <!-- <div class="myImage">
        <app-banner appResponsive></app-banner>
    </div>
    <div class="container">
        <app-personal-information appResponsive></app-personal-information>
    </div>
    <app-education appResponsive></app-education>
    <app-work-experience appResponsive></app-work-experience>
    <app-skills appResponsive></app-skills>
    <app-projects appResponsive></app-projects>
    <app-contact appResponsive></app-contact> -->
</div>