<div class="myCont">
    <!-- <h2 class="about">About</h2> -->
    <h2 class="about" style="padding-top: 30px;">Let me introduce myself.</h2>
    <mat-card class="mx-auto" style="max-width: 600px;margin-top: 60px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img class="myImg" mat-card-image style="border-radius: 50%;" src="../../assets/images/Banner/img3.jpg" alt="my-image">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <!-- <h5 mat-card-title>Card title</h5> -->
              <p mat-card-subtitle>I believe that I can grow only by contributing to the growth of the organization, 
                I work for. Therefore I am looking forward to work in an organization of repute, where I can utilize 
                my knowledge and discharge responsibilities assigned to me in the best possible manner, thereby resulting in a 
                relationship of mutual growth and also looking for a challenging role where I can use my capabilities through sincere 
                dedication and hard work to move up the graph of the organization.</p>
              <!-- <p mat-card-subtitle><small class="text-muted">Last updated 3 mins ago</small></p> -->
            </div>

          </div>
        </div>
    </mat-card>
    <!-----Description about with 3 grids start-->
    <mat-grid-list class="abtDesc" cols="2" rowHeight="450px">
      <mat-grid-tile>
        <mat-card class="my-card abtCon1">
          <div class="card-content">
            <mat-card-content style="color:white;margin-top: 8px">
              <mat-card style="margin-top:10px;">
                <mat-card-content style="display: flex;"><mat-icon>cake</mat-icon><h2 style=" color: white; padding-left: 10px;">Birthday</h2><span style=" color: white; margin-top: 6px;margin-left: 67px;">22/January/1999</span></mat-card-content>
              </mat-card>
              <mat-card style="margin-top:10px;">
                <mat-card-content style="display: flex;"><mat-icon>computer</mat-icon><h2 style=" color: white; padding-left: 10px;">Website</h2><span style="color: white; margin-top: 6px;margin-left: 67px;"><a href="http://toufiq.in/">Go Live</a></span></mat-card-content>
              </mat-card >               
              <mat-card style="margin-top:10px;">
                <mat-card-content style="display: flex;"><mat-icon>phone</mat-icon><h2 style=" color: white; padding-left: 10px;">Phone/Whats-App</h2><p style="margin-top: 6px;margin-left: 15px;">9102641144</p></mat-card-content>
              </mat-card>                   
              <mat-card style="margin-top:10px;">
                <mat-card-content style="display: flex;"><mat-icon>location_city</mat-icon><h2 style=" color: white; padding-left: 10px;">City</h2><p style="margin-top: 6px;margin-left: 90px;">Ranchi Jharkhand</p></mat-card-content>
              </mat-card>                 
            </mat-card-content>
          </div>
        </mat-card>
      </mat-grid-tile>
    
      <mat-grid-tile>
        <mat-card class="abtCon1">
          <mat-card-content style="color: white;margin-top: 8px">
            <mat-card style="margin-top:10px;">
              <mat-card-content style="display: flex;"><mat-icon>cake</mat-icon><h2 style=" color: white; padding-left: 10px;">Age</h2><span style="color: white; margin-top: 6px;margin-left: 67px;">23</span></mat-card-content>
            </mat-card>
            <mat-card style="margin-top:10px;">
              <mat-card-content style="display: flex;"><mat-icon>school</mat-icon><h2 style=" color: white; padding-left: 10px;">Degree</h2><span style="color: white; margin-top: 6px;margin-left: 67px;">Bachelor of Engineering</span></mat-card-content>
            </mat-card >               
            <mat-card style="margin-top:10px;">
              <mat-card-content style="display: flex;"><mat-icon>email</mat-icon><h2 style=" color: white; padding-left: 10px;">Email</h2><p style="color: white; margin-top: 6px;margin-left: 67px;">2014toufiquealam@gmail.com</p></mat-card-content>
            </mat-card>                   
            <mat-card style="margin-top:10px;">
              <mat-card-content style="display: flex;"><mat-icon>work</mat-icon><h2 style=" color: white; padding-left: 10px;">Freelance</h2><p style="color: white; margin-top: 6px;margin-left: 67px;">Available</p></mat-card-content>
            </mat-card>                    
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
    
      
   <!----Grids description about ends-->   
</div>
