<!-- <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
    </button>
    <span class="myApp">My Portfolio</span>
    <span class="example-spacer"></span>
    <span class="homeNav">Home</span>
    <span class="AboutNav">About</span>
    <span class="WExNav">Work Experience</span>
    <span class="SkillNav">Skills</span>
    <span class="ProjectNav">Project</span>
    <span class="ContactNav">Contact</span>
</mat-toolbar> -->
 
  <nav class="navbar navbar-expand-lg bg-info">
    <div class="container-fluid">
      <a class="navbar-brand title" href="#">My Portfolio</a>
      <!-- <img class="" src="" alt=""> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <!--Content beside the My Portfolio-->
        </ul>
        <span class="navbar-text">
            <ul class="navbar-nav navigationText">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#"><h3>Home</h3></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><h3>About</h3></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><h3>Work Experience</h3></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link "><h3>Skills</h3></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link "><h3>Project</h3></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link "><h3>Contact</h3></a>
                </li>
              </ul>
        </span>
      </div>
    </div>
  </nav>
